.example-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

.example-full-width {
width: 100%;
}

td {
padding-right: 8px;
}

textarea {
width: 300px;
height: 150px;
}

button{
    margin: 5px;
}

.buttons{
    float: right;
}