<div>

    <mat-card-header>
        <mat-card-title *ngIf="data.type == 'add'">Add news</mat-card-title>
        <mat-card-title *ngIf="data.type == 'update'">Update news</mat-card-title>
    </mat-card-header>
    <mat-form-field class="example-full-width">
        <mat-label>Text</mat-label>
        <textarea matInput [(ngModel)]="data.news.text"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input matInput disabled value="{{data.news.date  | date:'MM/dd/yy'}}">
    </mat-form-field>
    <div class="buttons" *ngIf="data.type == 'add'">
        <button mat-raised-button color="warn" (click)="cancelAdd()">Cancel</button>
        <button mat-raised-button color="primary" (click)="add()">Add</button>    
    </div>
    <div class="buttons" *ngIf="data.type == 'update'">
        <button mat-raised-button color="warn" (click)="cancelUpdate()">Cancel</button>
        <button mat-raised-button color="primary" (click)="update()">Update</button>    
    </div>
    
</div>
