<div>

    <mat-card-header>
        <mat-card-title *ngIf="data.type == 'add'">Add news</mat-card-title>
        <mat-card-title *ngIf="data.type == 'update'">Update news</mat-card-title>
    </mat-card-header>
    <form class="example-form"  [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>
                <mat-icon class="formTitleIcon">subject</mat-icon>Text
            </mat-label>
            <textarea matInput formControlName="newsText" [(ngModel)]="data.news.text"></textarea>
            <mat-error>Text must have between 10 and 256 characters</mat-error>

        </mat-form-field>

        <mat-form-field class="formField"  *ngIf="data.type == 'add'">
            <mat-label class="title">
              <mat-icon class="formTitleIcon">insert_photo</mat-icon>Choose the images
            </mat-label>
            <ngx-mat-file-input (change)="filesChanged()" [multiple]="fileMultiple" [accept]="fileAccept" formControlName="images">
            </ngx-mat-file-input>
          </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Date</mat-label>
            <input matInput disabled value="{{data.news.date  | date:'MM/dd/yy'}}">
        </mat-form-field>
    </form>
    <div class="buttons" *ngIf="data.type == 'add'">
        <button id="cancel-add-news-button" mat-raised-button color="warn" (click)="cancelAdd()">Cancel</button>
        <button id="add-news-button" mat-raised-button color="primary" (click)="add()">Add</button>    
    </div>
    <div class="buttons" *ngIf="data.type == 'update'">
        <button id="cancel-update-news-button" mat-raised-button color="warn" (click)="cancelUpdate()">Cancel</button>
        <button id="update-news-form-button" mat-raised-button color="primary" (click)="update()">Update</button>    
    </div>
    
</div>
