<app-navigation-bar></app-navigation-bar>
<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile style="width: 450px;">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title class="title">Subscriptions</mat-card-title>

            </mat-card-header>
            <mat-card-content *ngIf="subscriptionPage">
                <mat-card class="drop-shadow" *ngFor="let element of subscriptionPage.content">

                    <div class="row">
                        <p><b>{{element.culturalOfferName}}</b></p>
                    </div>

                    <div class="row">
                        <p>{{element.text}}</p>
                    </div>

                    <mat-carousel class="carousel" timings="250ms ease-in" color=primary [proportion]="40"
                        [hideArrows]="false" [hideIndicators]="false" [maintainAspectRatio]="true" maxWidth="auto">
                        <mat-carousel-slide #matCarouselSlide *ngFor="let image of element.images; let i = index"
                            [image]="uploads_url + image" overlayColor="#00000040" [hideOverlay]="false">
                        </mat-carousel-slide>
                    </mat-carousel>
                    <p class="date">{{element.date | date: 'HH:mma dd.MM.YY'}}</p>
                </mat-card>
                <app-pagination-bar class="centered" [hasPrev]="!subscriptionPage.first"
                    [hasNext]="!subscriptionPage.last" [currentPage]="currentPage"
                    (navigatePrevEvent)="getPreviousPage()" (navigateNextEvent)="getNextPage()">
                </app-pagination-bar>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>