<app-navigation-bar></app-navigation-bar>
<mat-grid-list cols="4" rowHeight="100px">

  <mat-grid-tile [colspan]="4">
    <app-map-filter-form [culturalOfferTypes]="types" [culturalOfferSubTypes]="subTypes"
      (getSubTypesEvent)="loadSubTypes($event)" (applyFilterEvent)="applyFilter($event)"
      (resetFilterEvent)="resetFilter($event)"></app-map-filter-form>
    <button mat-fab color="accent" (click)="openNewDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile>


  <mat-grid-tile [rowspan]="4" [colspan]="4">
    <div id="map-page">
      <app-map-item *ngIf="culturalOfferLocations" [culturalOffers]="culturalOfferLocations"
        [location]="searchedLocation"> </app-map-item>
    </div>
  </mat-grid-tile>

</mat-grid-list>