<div class="root">
  <app-navigation-bar></app-navigation-bar>
  <div class="mapPageRoot">

    <div class="filterRoot">
      <app-map-filter-form [culturalOfferTypes]="types" [culturalOfferSubTypes]="subTypes"
        (getSubTypesEvent)="loadSubTypes($event)" (applyFilterEvent)="applyFilter($event)"
        (resetFilterEvent)="resetFilter($event)"></app-map-filter-form>

    </div>

    <div class="mapRoot">

      <div id="map-page">
        <app-map-item *ngIf="culturalOfferLocations" [culturalOffers]="culturalOfferLocations"
          [location]="searchedLocation"> </app-map-item>
      </div>
      <button mat-fab color="accent" *ngIf="isAdmin" class="newButton" (click)="openNewDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="tableRoot">
      <app-table-view [culturalOffers]="culturalOfferLocations"></app-table-view>
    </div>

  </div>
</div>