<div>

    <mat-card-header>
        <mat-card-title>Add news</mat-card-title>

    </mat-card-header>
    <mat-form-field class="example-full-width">
        <mat-label>Text</mat-label>
        <textarea matInput [(ngModel)]="data.text"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input matInput disabled value="{{data.date  | date:'MM/dd/yy'}}">
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="add()">Add</button>    
    </div>
    
</div>
