<h1 mat-dialog-title>Create new type</h1>
<div mat-dialog-content>

  <mat-form-field>
    <input matInput placeholder="Type name" matInput [formControl]="name" required>
    <mat-error >
      Name must be at least 4 characters long.
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button style="margin-left: 85px;" mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button color="primary" type="button" [disabled]="name.invalid" (click)="onSaveClick()">Save</button>
</div>
