<h1 mat-dialog-title>Create new type</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Type name</mat-label>
    <input matInput [formControl]="name" required>
      <div *ngIf="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors">
            <mat-error *ngIf="name.errors.required">
              Name is required.
            </mat-error>
            <mat-error *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </mat-error>
          </div>
        </div>
      </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button color="primary" type="button" [disabled]="name.invalid" (click)="onSaveClick()">Save</button>
  <!-- <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button> -->
</div>
