<h1 mat-dialog-title *ngIf="data.formType == 'CREATE' ">Create subtype</h1>
<h1 mat-dialog-title *ngIf="data.formType == 'UPDATE' ">Update subtype</h1>

<div mat-dialog-content>
  <mat-form-field [formGroup]= "form">
    <input id="subType_name" placeholder="SubType name" matInput formControlName="name" required>
    <mat-error>
      Name must be at least 4 characters long.
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button style="margin-left: 75px;" id="close_subType_button" mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button color="primary" id="save_subType_button" type="button" [disabled]="form.invalid"
         (click)="onSaveClick()">Save</button>
</div>
