<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form class="example-form" #loginForm="ngForm" (ngSubmit)="login()" [formGroup]="form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input id="login-username-input" matInput formControlName="email" placeholder="Email">
          <mat-error>Invalid email format.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input id="login-password-input" type="password" matInput formControlName="password" placeholder="Password">
          <mat-error>Password must have between 6 and 64 characters.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <button id="login-submit-button" type="submit" [disabled]="!loginForm.form.valid" mat-flat-button color="primary" class="btn-block">Login</button>

    </form>
  </mat-card>
</div>
