<app-navigation-bar></app-navigation-bar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Resend activation mail</mat-card-title>
    </mat-card-header>

    <form class="example-form" #loginForm="ngForm" (ngSubmit)="submit()" [formGroup]="form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="email" placeholder="Email">
          <mat-error>Invalid email format.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <button type="submit" [disabled]="!loginForm.form.valid" mat-flat-button color="primary"
        class="btn-block">Login</button>

    </form>
  </mat-card>
</div>