<mat-toolbar color="primary">
  <button routerLink="/" mat-button>
    <a mat-icon-button>
      <mat-icon>public</mat-icon>
    </a>Cultural offers
  </button>
  <button mat-raised-button *ngIf="isUser" routerLink="/subscriptions">My Subscriptions</button>

  <span class="example-spacer"></span>
  <button mat-button *ngIf="isAdmin" id="nav-types" routerLink="/culturalOfferTypes" style="margin: 5px;">
    <mat-icon>bubble_chart</mat-icon>
    Manage Types</button>
  <button mat-button *ngIf="!isAuthorized" routerLink="/login">Login</button>
  <button mat-button *ngIf="!isAuthorized" routerLink="/register">Register</button>
  <button mat-stroked-button *ngIf="isAuthorized" color="primary" style="background-color: white;" (click)="logout()">Logout</button>
</mat-toolbar>
