<mat-toolbar color="primary">
  <button routerLink="/" mat-button>
    <a mat-icon-button>
      <mat-icon>public</mat-icon>
    </a>Cultural offers
  </button>
  <button mat-raised-button routerLink="/subscriptions">My Subscriptions</button>
  
  <span class="example-spacer"></span>
  <button mat-button routerLink="/culturalOfferTypes">Manage Types<mat-icon>category</mat-icon></button>
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
